body {
    margin: 0;

    main {
        display: flex;
        width: 100vw;
        height: 100vh;
        justify-content: center;
        align-items: center;
        flex-flow: column;
        overflow: hidden;
        margin: 0;

        svg {
            display: block;
            margin: 0 auto;
            max-width: 96px;
            text-align: center;
            color: hotpink;
            transform: scaleY(-1);

            @for $i from 1 through 12 {
                g:nth-child(n+#{$i}) {
                    circle {
                        animation-delay: calc(-1s * (#{$i} / 12));
                        opacity: calc(#{$i} / 12);
                    }
                }
            }

            circle {
                animation: loader 1000ms infinite;
            }
        }
    }
}

@keyframes loader {
    0% {
        scale: 2.51;
        opacity: 1;
    }
    100% {
        scale: 1;
        opacity: 0;
    }
}